*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: orange;
}

p{
    text-align: center;
    color: orangered;
}

img{
    display: flex;
    margin: auto;
}

p{
    color: blue;
}
.aaa{
    color: orange;
}