*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: blue;
}

p{
    text-align: center;
    color: red;
}

div{
    display: flex;
    margin: 10px;
}

.uff{
    color: orange;
}