*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.guitar{
    color: black;
    text-align: center;
    font: 75px;
}

body{
    background: linear-gradient(to left, rgba(0, 0, 255, 0.482), rgba(255, 255, 0, 0.312), rgba(255, 0, 0, 0.51));
    height: 100vh;
    width: 100%;
}

.text{
    color: red;
    text-align: center;

}

.photo{
  display: block;
  margin-right: 10px;
}

.tnp{
    display: flex;
    color: blue;
}