*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.samsung{
    background-image: url(./assets/image\ copy\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: skyblue;
    text-align: center;
    font-size: 45px;
    width: 100%;
    height: 100vh;
}