*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parfume{
    background-image: url(./assets/image\ copy\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100vh;
}