*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-conteiner{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
}

h1{
    color: orange;
    text-align: center;
}

p{
    text-align: center;
    color: blue;
}

img{
    display: flex;
    margin: 40px;
}

