*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.txt-sms{
    font-family: "Noto Sans Georgian", sans-serif;
    color: blue;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "wght" 200;
}

.sms{
    text-align: center;
    color: rgb(21, 21, 255);
}

.img{
    display: block;
    margin: 5px;
}

.p-i{
    display: flex;

}

body{
    background-color: black;
}