*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.h1-apple{
   font-family: "Noto Sans Georgian", sans-serif;
   color: skyblue;
   text-align: center;
   font-size: 25px;
   font-weight: 600;
   font-style: italic;
}

.txt-img{
    color: skyblue;
    text-align: center;
}

.img{
    display: block;
    margin: 10px;
}

.txt-img{
    display: flex;
}

body{
    background-color: rgb(24, 7, 7);
}