*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.txt-img{
    font-family: "Noto Sans Georgian", sans-serif;
    color: orange;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.h1-lions{
    color: orange;
    text-align: center;
}

.img{
    display: block;
    margin: 15px;
}

.txt-img{
    display: flex;
}

.txt-img2{
    color: orangered;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.img2{
    display: block;
    margin: 15px;
}

.txt-img2{
    display: flex;
}