*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.txt-img{
    font-family: "Noto Sans Georgian", sans-serif;
    color: blue;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.h1{
    color: blue;
    text-align: center;
}

.img{
    display: block;
    margin: 10px;
}

.txt-img{
    display: flex;
}

body{
    background-color: black;
}